{% assign parts = include.repository | split: '/' %}
{% assign owner = parts[0] %}
{% assign name  = parts[1] %}
{% assign max_lines = site.data.repositories.repo_description_lines_max | default: 2 %}

<div class="repo p-1">

  {% if include.platform == "github" %}
    <a href="https://github.com/{{ owner }}/{{ name }}" target="_blank" rel="noopener">
      <div class="card repo-card hoverable d-flex flex-column align-items-center justify-content-between p-3">
        <p class="text-muted mt-2">github.com</p>
        <p>{{ owner }}/{{ name }}</p>
        <div class="badges d-flex justify-content-center align-items-center gap-3 flex-wrap">
          <img src="https://img.shields.io/github/stars/{{ owner }}/{{ name }}" alt="Stars" loading="lazy">
          <img src="https://img.shields.io/github/last-commit/{{ owner }}/{{ name }}" alt="Last commit" loading="lazy">
        </div>
      </div>
    </a>

  {% elsif include.platform == "codeberg" %}
    <a href="https://codeberg.org/{{ owner }}/{{ name }}" target="_blank" rel="noopener">
      <div class="card repo-card hoverable d-flex flex-column align-items-center justify-content-between p-3">
        <p class="text-muted mt-2">codeberg.org</p>
        <p>{{ owner }}/{{ name }}</p>
        <div class="badges d-flex justify-content-center align-items-center gap-3 flex-wrap">
          <img alt="stars" src="https://img.shields.io/gitea/stars/{{ owner }}/{{ name }}?gitea_url=https%3A%2F%2Fcodeberg.org" loading="lazy">
          <img alt="last-commit" src="https://img.shields.io/gitea/last-commit/{{ owner }}/{{ name }}?gitea_url=https%3A%2F%2Fcodeberg.org" loading="lazy">
        </div>
      </div>
    </a>

  {% elsif include.platform == "tangled" %}
    {% assign server_host = "tangled.org" %}
    <a href="https://{{ server_host }}/{{ owner }}/{{ name }}" target="_blank" rel="noopener">
      <div class="card repo-card hoverable d-flex flex-column align-items-center justify-content-between p-3">
        <p class="text-muted mt-2">{{ server_host }}</p>
        <p>{{ owner }}/{{ name }}</p>
      </div>
    </a>

  {% else %}
    <a href="{{ include.repository }}" target="_blank" rel="noopener">
      <div class="card repo-card hoverable d-flex flex-column align-items-center justify-content-between p-3">
        {{ include.repository }}
      </div>
    </a>
  {% endif %}

</div>

<style>
.repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.repo-card {
  width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.badges img {
  margin: 0.25rem 0.25rem;
}

.hoverable:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  transform: translateY(-4px);
  transition: all 0.2s ease-in-out;
}

</style>
